<h2>Statistics</h2>
<div class="container-fluid">
    <div class="col-md-6">
        <img src="~/images/fig1.png" />
    </div>
    <div class="col-md-6">
        <img src="~/images/fig2.png" />
    </div>
</div>
<a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">
    Back to Gallery
</a>